[submodule "Vector"]
	path = Vector
	url = https://github.com/resilmesh2/Vector.git
[submodule "NATS"]
	path = NATS
	url = https://github.com/resilmesh2/NATS.git
[submodule "Wazuh"]
	path = Wazuh
	url = https://github.com/resilmesh2/Wazuh.git
[submodule "Enrichment"]
	path = Enrichment
	url = https://github.com/resilmesh2/Enrichment.git
[submodule "Anomaly-Detectors"]
	path = Anomaly-Detectors
	url = https://github.com/resilmesh2/Anomaly-Detectors.git
