# Full Resilmesh Platform
include:
  - ./Aggregation/docker-compose.yml
  - ./Security-Operations/compose.yaml
  - ./Situation-Assessment/docker-compose.yml
  - ./Threat-Awareness/docker-compose.yml

services:
  resilmesh_redis:
    hostname: "redis"
    restart: unless-stopped
    image: valkey/valkey:7.2
    container_name: redis
    expose:
      - 6379
    networks:
      resilmesh_network:

networks:
  resilmesh_network:
    external: true
    name: resilmesh_network