# Full Resilmesh Platform
include:
  - ./Aggregation/docker-compose.yml
  - ./Security-Operations/compose.yaml
  - ./Situation-Assessment/docker-compose.yml
#  - ./Threat-Awareness/docker-compose.yaml  # TODO: docker-compose.yaml to be created

services:
  resilmesh_ap_silentpush_redis:
    hostname: "redis"
    restart: unless-stopped
    image: redis
    container_name: redis
    ports:
      - 6378:6378
    networks:
      resilmesh_network:

networks:
  resilmesh_network:
#    external: true
    name: resilmesh_network
