##############################################
#       Resilmesh - configuration file       #
##############################################

# General
NATS_URL="nats://nats:4222"
REDIS_HOST="redis"
REDIS_PORT=6379
RAW_EVENTS_SUBJECT="ecs_events"
ENRICHED_EVENTS_SUBJECT="enriched_events"
# Add this only if you're behind a proxy!
# i.e.: http_proxy=http://jao:secret@192.168.0.254:8080
http_proxy=http://<USER>:<PASSWORD>@<PROXY_IP>:<PROXY_PORT>
https_proxy=http://<USER>:<PASSWORD>@<PROXY_IP>:<PROXY_PORT>

# Silent Push
SLP_SUBSCRIBE_QUEUE="enrichment_queue"
SUBSCRIBER_LOG_FILE="subscriber.log"
PUBLISHER_LOG_FILE="publisher.log"
LOG_LEVEL=0
EVENTS_DIR="./events/"
API_URL="https://app.silentpush.com/api/v1/merge-api/"
# contact <Maja Otic motic@silentpush.com> if you don't have one yet
API_KEY="YOUR-SILENTPUSH-API-KEY"

# MISP
MISP_API_KEY="<YOUR API KEY>"
MISP_API_URL="https://host.docker.internal:8443"
MISP_SUBSCRIBE_QUEUE="misp_queue"
MISP_CERTIFICATE_VERIFY=0
LOG_FILE="misp_client.log"

# Wazuh
RSYSLOG_HOST=host.docker.internal
RSYSLOG_PORT=10514