services:
  resilmesh_sap_isim:
    container_name: isim
    build:
      context: .
    ports:
      - 8000:8000
    depends_on:
      resilmesh_sap_neo4j:
        condition: service_healthy
    volumes:
      - ./config/config_docker.yaml:/app/config/config.yaml
    restart: unless-stopped
    networks:
      - resilmesh_network

  resilmesh_sap_isim_graphql:
    container_name: resilmesh_sap_isim_graphql
    build:
      context: isim_graphql
    ports:
      - 4001:4001
    depends_on:
      resilmesh_sap_neo4j:
        condition: service_healthy
    environment:
      - NEO4J_URI=bolt://resilmesh_sap_neo4j:7687
      - NEO4J_USER=neo4j
      - NEO4J_PASSWORD=supertestovaciheslo
    restart: unless-stopped
    networks:
      - resilmesh_network

  resilmesh_sap_neo4j:
    container_name: resilmesh_sap_neo4j
    image: neo4j:5.26.10
    environment:
      - NEO4J_AUTH=neo4j/supertestovaciheslo
      - NEO4J_PLUGINS=["apoc", "graph-data-science"]
      - NEO4J_apoc_export_file_enabled=true
      - NEO4J_apoc_import_file_enabled=true
      - NEO4J_apoc_import_file_use__neo4j__config=true
    volumes:
      - resilmesh_sap_neo4j_isim_data:/data
#      - ${DATA_PATH}:/tmp/dumps/neo4j.dump
    ports:
      - 7474:7474
      - 7687:7687
#    depends_on:
#      neo4j_load_data:
#        condition: service_completed_successfully
    networks:
      - resilmesh_network
    healthcheck:
      test: ["CMD", "wget", "http://localhost:7474/"]
      interval: 10s
      timeout: 2s
      retries: 10
    restart: unless-stopped

#  neo4j_load_data:
#    image: neo4j:5.21.0
#    environment:
#      - NEO4J_AUTH=neo4j/supertestovaciheslo
#    volumes:
#      - resilmesh_sap_neo4j_isim_data:/data
#      - ${DATA_PATH}:/tmp/dumps/neo4j.dump
#    entrypoint:
#      - sh
#      - -c
#      - neo4j-admin database load --from-path=/tmp/dumps --overwrite-destination=true neo4j && neo4j-admin database migrate neo4j --force-btree-indexes-to-range

## this network is ready to be connected to CASM demo.
# To work together, do not deploy neo4j and neo4j_load_data from this compose and uncomment
# the external option


volumes:
  resilmesh_sap_neo4j_isim_data:
