[submodule "Vector"]
	path = Vector
	url = https://github.com/resilmesh2/Vector
[submodule "NATS"]
	path = NATS
	url = https://github.com/resilmesh2/NATS
[submodule "Enrichment"]
	path = Enrichment
	url = https://github.com/resilmesh2/Enrichment
[submodule "MISP_client"]
	path = MISP_client
	url = https://github.com/resilmesh2/MISP_client
