openapi: 3.0.3
info:
  title: "ISIM"
  version: 0.1.0
paths:
  /assets:
    post:
      tags:
        - Assets
      description: Upload asset information to ISIM
      operationId: store_assets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetInformationInput'
      responses:
        "201":
          description: OK
          content:
            application/json:
              schema:
                type: string
                example: 'Processed successfully. If some assets support missions, use /missions endpoint to add descriptions of missions.'
        "422":
          description: Bad input
          content:
            application/json:
              schema:
                type: string
                example: 'Bad input: <error message>'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: string
                example: 'Exception on neo4j side, set operation failed. <error message>'
  /asset_info:
    get:
      tags:
        - Assets
      description: Get information about IP address
      operationId: ip_asset_info
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            format: int32
        - name: offset
          in: query
          schema:
            type: integer
            format: int32
        - name: ip
          in: query
          schema:
            type: string
            format: ip
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPAssetInformation'
  /missions:
    get:
      tags:
        - Missions
      description: Return information about stored missions
      operationId: get_missions
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            format: int32
        - name: offset
          in: query
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: array
                  items:
                    $ref: '#/components/schemas/MissionsInformation'

    post:
      tags:
        - Missions
      description: Upload mission information to ISIM
      operationId: store_missions
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                nodes:
                  type: object
                  properties:
                    missions:
                      type: array
                      items:
                        $ref: '#/components/schemas/MissionInput'
                    services:
                      type: array
                      items:
                        $ref: "#/components/schemas/ServiceInput"
                    aggregations:
                      type: object
                      properties:
                        or:
                          type: array
                          items:
                            type: integer
                        and:
                          type: array
                          items:
                            type: integer
                    hosts:
                      type: array
                      items:
                        $ref: "#/components/schemas/NamedHostInput"
                relationships:
                  type: object
                  properties:
                    one_way:
                      type: array
                      items:
                        type: object
                        properties:
                          from:
                            type: integer
                          to:
                            type: integer
                    two_way:
                      type: array
                      items:
                        type: object
                        properties:
                          first:
                            type: integer
                          second:
                            type: integer
                    dependencies:
                      type: array
                      items:
                        type: object
                        properties:
                          from:
                            type: integer
                          to:
                            type: integer
                    supports:
                      type: array
                      items:
                        type: object
                        properties:
                          from:
                            type: string
                            example: "Public-Facing Services - BT1"
                            description: "Name of a mission"
                          to:
                            type: string
                            example: "Mail - BT1"
                            description: "Name of a service"
                    has_identity:
                      type: array
                      items:
                        type: object
                        properties:
                          from:
                            type: string
                            example: "Mail - BT1"
                            description: "Name of a service"
                          to:
                            type: string
                            example: "mail"
                            description: "Hostname of a host"
      responses:
        "201":
          description: OK
          content:
            application/json:
              schema:
                type: string
                example: 'Processed successfully'
        "422":
          description: Bad input
          content:
            application/json:
              schema:
                type: string
                example: 'Bad input: <error message>'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: string
                example: 'Exception on neo4j side, set operation failed. <error message>'
components:
  schemas:
    Host:
      type: object
      properties:
        ip_address:
          type: string
          format: ip
          example: 127.0.0.1
        domain_names:
          type: array
          items:
            type: string
            format: domain
          example: ["test1.com", "test2.com"]
        subnets:
          type: array
          items:
            type: string
            format: ip
          example: ["127.0.0.0/16"]
        uris:
          type: array
          items:
            type: string
            format: uri
          example: ["https://test1.com/api"]
        tag:
          type: array
          items:
            type: string
          example: ["localhost", "mandatory"]
      required:
        - ip_address
    Subnet:
      type: object
      properties:
        ip_range:
          type: string
          format: ip
          example: 10.0.0.0/8
        note:
          type: string
          example: "private network"
        contacts:
          type: array
          items:
            type: string
            format: e-mail
          example: ["admin@test.com"]
        parents:
          type: array
          items:
            type: string
            format: ip
          example: ["0.0.0.0/0"]
        org_units:
          type: array
          items:
            type: string
          example: ["OrgA", "SubOrgD"]
      required:
        - ip_range
    SoftwareVersion:
      type: object
      properties:
        service:
          type: string
          example: "ssh"
        version:
          type: string
          format: cpe
          example: "cpe:/a:openbsd:openssh:7.4"
        protocol:
          type: string
          example: "tcp"
        port:
          type: integer
          example: 22
        ip_addresses:
          type: array
          items:
            type: string
            format: ip
          example: ["127.0.0.1", "10.0.0.35"]
        tag:
          type: array
          items:
            type: string
          example: ["core"]
      anyOf:
        - required:
          - service
          - port
          - protocol
        - required:
          - version
    Device:
      type: object
      properties:
        name:
          type: string
          example: "DevA"
    Application:
      type: object
      properties:
        name:
          type: string
          example: SSH
        device:
          type: string
          description: "Represents name of the Device entity, there will be relationship between Application and Device"
          example: "DevA"
      required:
        - name
        - device
    OrgUnit:
      type: object
      properties:
        name:
          type: string
          example: "OrgA"
        locations:
          type: array
          items:
            type: string
          example: ["Brno"]
        parents:
          type: array
          description: List of OrgUnits that are parents of this OrgUnit
          items:
            type: string
          example: ["OrgPrime"]
      required:
        - name
    AssetInformationInput:
      type: object
      properties:
        hosts:
          type: array
          items:
            $ref: '#/components/schemas/Host'
        subnets:
          type: array
          items:
            $ref: '#/components/schemas/Subnet'
        software_versions:
          type: array
          items:
            $ref: '#/components/schemas/SoftwareVersion'
        devices:
          type: array
          items:
            $ref: '#/components/schemas/Device'
        applications:
          type: array
          items:
            $ref: '#/components/schemas/Application'
        org_units:
          type: array
          items:
            $ref: '#/components/schemas/OrgUnit'

    IPAssetInformation:
      type: object
      properties:
        ip:
          type: string
          format: ip
          example: 10.1.2.3
        domain_names:
          type: array
          items:
            type: string
            format: domain
          example: ["test.com"]
        subnets:
          type: array
          items:
            type: string
            format: ip
          example: ["0.0.0.0/0", "10.0.0.0/8"]
        contacts:
          type: array
          items:
            type: string
            format: e-mail
          example: ["admin@test.com"]
        nodes:
          type: array
          items:
            type: object
          example: [{
                "degree_centrality": 1.0,
                "pagerank_centrality": 0.15,
                "topology_degree": null,
                "topology_betweenness": null
                }]
        critical:
          type: integer
          minimum: 0
          maximum: 1
          description: 1 if IP is assigned to any mission, 0 otherwise
        missions:
          type: array
          items:
            type: string
          example: ["Public-Facing Services - BT1"]

    MissionInput:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: Public-Facing Services - BT1
        criticality:
          type: integer
          example: 5
        description:
          type: string
          example: This mission represents services that must be available for public.
      required:
        - id
        - name
        - criticality
    ServiceInput:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: "Mail - BT1"
      required:
        - id
        - name
    NamedHostInput:
      type: object
      properties:
        id:
          type: integer
          example: 1
        hostname:
          type: string
          example: "mail"
        ip:
          type: string
          format: ip
          example: 10.0.0.2
      required:
        - id
        - hostname
        - ip

    MissionsInformation:
      type: object
      properties:
        name:
          type: string
          example: "Public-Facing Services - BT1"
        description:
          type: string
          example: "This mission represents services that must be available for public."
        criticality:
          type: integer
          example: 5
        structure:
          type: string
          format: json string
          example: "{\"relationships\":{\"two_way\":[{\"first\":0,\"second\":0}],\"one_way\":[{\"from\":0,\"to\":0}],\"supports\":[{\"from\":\"Public-Facing Services - BT1\",\"to\":\"Mail - BT1\"}],\"has_identity\":[{\"from\":\"Mail - BT1\",\"to\":\"mail\"}],\"dependencies\":[{\"from\":0,\"to\":0}]},\"nodes\":{\"missions\":[{\"name\":\"Public-Facing Services - BT1\",\"criticality\":5,\"description\":\"This mission represents services that must be available for public.\",\"id\":1}],\"hosts\":[{\"hostname\":\"mail\",\"ip\":\"10.0.0.2\",\"id\":1}],\"services\":[{\"name\":\"Mail - BT1\",\"id\":1}],\"aggregations\":{\"or\":[0],\"and\":[0]}}}"
tags:
  - name: Assets
    description: |-
      Assets API allows users to store and query asset information in ISIM component